.blog__container {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__container h2 {
  margin-bottom: 20px;
}

.blog__container a {
  margin-bottom: 60px;
  transition: all ease-in-out 0.3s;
  padding-bottom: 4px;
}

.blog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "first big"
    "second big";
}

.blog__article {
  max-width: 570px;
  height: 100%;
  display: flex;
}

.blog__image {
  flex-shrink: 0;
  width: 50%;
  object-fit: cover;
}

.blog__image img {
  height: 100%;
}

.blog__content {
  // flex-shrink: 0;
  // flex-grow: 2;
  padding-bottom: 7px;
  width: 285px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-pearl-bush;
}

.blog__content time {
  display: block;
  margin-bottom: 13px;
  padding-top: 66px;
  font-weight: 500;
  font-size: 14px;
  color: $color-dawn;
}

.blog__content h3 {
  margin: 0;
  margin-bottom: 39px;
  font-family: "Cormorant", "Arial", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  max-width: 163px;
}

.blog__item--first {
  grid-area: first;
}

.blog__item--second {
  grid-area: second;
}

.blog__item--big {
  position: relative;
  grid-area: big;
}

.blog__item--second .blog__article {
  flex-direction: row-reverse;
}

.blog__item--second .blog__content {
  padding-bottom: 7px;
}

.blog__item--second a,
.blog__item--big a,
.blog__item--first a {
  padding-bottom: 4px;
}

.blog__container a:hover,
.blog__container a:focus,
.blog__container a:active {
  color: $color-muesli;
  transition: all ease-in-out 0.3s;
}

.blog__item--big .blog__image {
  position: relative;
  width: 570px;
  height: 100%;
  z-index: 1;
}

.blog__item--big .blog__image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.blog__item--big .blog__content {
  padding-bottom: 44px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

@include tablet {
  .blog__container {
    padding-bottom: 71px;
  }

  .blog__list {
    gap: 50px;
    grid-template-areas:
      "first"
      "second"
      "big";
  }

  .blog__article {
    max-width: 100%;
    margin-bottom: -57px;
  }

  .blog__item--big .blog__article {
    margin-bottom: -74px;
  }

  .blog__content {
    width: 50%;
  }

  .blog__image img {
    display: block;
    width: 100%;
  }

  .blog__item--big .blog__image {
    width: 50%;
  }

  .blog__item--big .blog__content {
    padding-top: 15px;
    padding-bottom: 24px;
    position: static;
  }
}

@include mobile {
  .blog__container {
    padding-bottom: 63px;
  }

  .blog__list {
    gap: 40px;
  }

  .blog__article,
  .blog__item--big .blog__article {
    margin-bottom: 0;
  }

  .blog__article,
  .blog__item--second .blog__article {
    flex-direction: column;
  }

  .blog__container a {
    margin-bottom: 50px;
  }

  .blog__content {
    width: 100%;
    height: 50%;
    padding-bottom: 0;
  }

  .blog__image {
    width: 100%;
    height: 256px;
  }

  .blog__item--second .blog__content {
    padding-bottom: 0;
  }

  .blog__item--big .blog__image {
    width: 100%;
    height: 256px;
  }

  .blog__item--big .blog__content {
    padding-top: 0;
    padding-bottom: 16px;
  }

  .blog__item--big h3 {
    margin-bottom: 37px;
  }

  .blog__item--big time {
    margin-bottom: 9px;
  }

  .blog__item--second time,
  .blog__item--first time {
    padding-top: 43px;
  }
}
