.cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 36px;
}

.cards__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards__item picture {
  display: block;
  margin-bottom: 22px;
}

.cards__item img {
  display: block;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .cards__item img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 1140px) {
  .cards__item img {
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 1080px) {
  .cards__item img {
    width: 210px;
    height: 210px;
  }
}

.cards__item h3 {
  margin: 0;
  margin-bottom: 6px;
  padding-left: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}

.cards__item span {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
}

@include tablet {
  .cards__item img {
    display: block;
    width: 250px;
    height: 250px;
  }

  @media (max-width: 900px) {
    .cards__item img {
      width: 220px;
      height: 220px;
    }
  }

  @media (max-width: 805px) {
    .cards__item img {
      width: 210px;
      height: 210px;
    }
  }

  @media (width: 768px) {
    .cards__item img {
      width: 206px;
      height: 208px;
    }
  }
}

@include mobile {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
  }

  .cards__item picture {
    margin-bottom: 18px;
  }

  .cards__item h3 {
    padding-left: 3px;
  }

  .cards__item img {
    width: 250px;
    height: 250px;
  }

  @media (max-width: 575px) {
    .cards__item img {
      width: 150px;
      height: 150px;
    }
  }

  @media (max-width: 365px) {
    .cards__item img {
      width: 130px;
      height: 136px;
    }
  }

  @media (width: 320px) {
    .cards__item img {
      width: 130px;
      height: 136px;
    }
  }
}
