.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  cursor: pointer;
  z-index: 600;
}

.filter-overlay--shown {
  display: flex;
  overflow-y: auto;
}
