.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  cursor: pointer;
  z-index: 300;
}

.overlay--shown {
  display: flex;
  overflow-y: auto;
}

.overlay--shown .overlay__logo {
  position: absolute;
  top: 0;
  left: 0;
  color: $color-muesli;
  transition: all ease-in-out 0.3s;
}

.overlay--shown .overlay__logo:hover,
.overlay--shown .overlay__logo:active,
.overlay--shown .overlay__logo:focus {
  color: $color-zeus;
  transition: all ease-in-out 0.3s;
}
