.slider__container {
  position: relative;
  padding-top: 121px;
  padding-bottom: 116px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__container h2 {
  margin: 0;
  margin-bottom: 24px;
}

.slider__container a {
  margin-bottom: 58px;
  transition: all ease-in-out 0.3s;
}

.slider__container a:hover,
.slider__container a:focus,
.slider__container a:active {
  color: $color-muesli;
  transition: all ease-in-out 0.3s;
}

.swiper-container {
  width: 1170px;
  overflow: hidden;
  height: 423px;
}

.slider__container img {
  display: block;
  object-fit: cover;
  margin-bottom: 22px;
}

.slider__container h3 {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}

.swiper-slide {
  height: 351px;
}

.swiper-slide a {
  margin-bottom: 0;
}

.slider__container span {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
}

.swiper-pagination {
  // margin-top: 54px;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 18px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  margin-right: 11px;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 18px));
  background: transparent;

  &:first-of-type {
    margin-left: 4px;
  }
}

:root {
  --swiper-theme-color: white;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 30px;
  margin: 0;
  z-index: 30;
  cursor: pointer;
  display: block;
  color: $color-muesli;
  transition: all ease-in-out 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-prev:active {
  color: $color-black;
  transition: all ease-in-out 0.3s;
}

.swiper-button-next {
  top: 136px;
  right: 14px;
}

.swiper-button-prev {
  top: 136px;
  left: 14px;
}

.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
  content: "";
}

.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  content: "";
}

@media (max-width: 1200px) {
  .swiper-container {
    max-width: 900px;
  }
}

@include tablet {
  .slider__container {
    padding-top: 70px;
    padding-bottom: 67px;
  }

  .slider__container h2 {
    margin: 0 0 21px;
  }

  .slider__container a {
    padding-bottom: 4px;
    margin-bottom: 48px;
  }

  .slider__container img {
    margin-bottom: 22px;
    height: 340px;
    width: 324px;
  }

  .swiper-container {
    max-width: 678px;
    height: 469px;
  }

  // .swiper-pagination {
  //   margin-top: 43px;
  // }

  .swiper-button-next {
    top: 89px;
    right: 51px;
  }

  .swiper-button-prev {
    top: 89px;
    left: 44px;
  }
}


@include mobile {
  .slider__container {
    padding-top: 59px;
    padding-bottom: 55px;
  }

  .slider__container a {
    margin-bottom: 40px;
  }

  .swiper-container {
    max-width: 290px;
    height: 271px;
  }

  .swiper-wrapper {
    max-width: 100%;
    height: 100%;
  }

  // .swiper-pagination {
  //   margin-top: 33px;
  // }

  .slider__container img {
    height: 136px;
    margin-bottom: 17px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
